/* LOGIN */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8c00ff;
}

.login-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.login-logo {
    width: 135px;
    height: auto;
    margin-bottom: 5px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #8c00ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.login-container button:hover {
    background-color: #4500b4;
}

.register-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.register-container button {
    width: 47%;
    background-color: #8c00ff;
}

.register-container button:hover {
    background-color: #4500b4;
}


.register-container a {
    width: 41%;
    padding: 10px;
    background-color: #8c00ff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.register-container a:hover {
    background-color: #4500b4;
}

/* FORMULARIOS */
.form-container {
    background-color: rgb(240, 240, 240);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.form-container input,
.form-container select {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #8c00ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.form-container input[type="submit"]:hover {
    background-color: #4500b4;
}

.form-container .back-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #8c00ff;
    text-decoration: none;
}

.form-container .back-link:hover {
    text-decoration: underline;
}

.form-container button {
    width: 41%;
    padding: 10px;
    background-color: #00b318;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
}

.form-container button:hover {
    background-color: #008d0c;
}

/* Lista de Vagas */
.job-listing-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.job-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.job-card h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.job-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.like-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    transition: color 0.3s ease;
}

.like-button.empty {
    color: #242424;
}

.like-button.filled {
    color: red;
}

/* CHART */
.chart-container {
    background-color: white;
    width: 25%;
    justify-content: right;
    display: flex;
    margin: 50px auto;
}
