/* LOGIN */
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8c00ff;
}

.login-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    text-align: center; /* Centraliza o conteúdo */
}

.login-logo {
    width: 135px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-bottom: 5px;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-container label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.login-container input {
    width: calc(100% - 20px); /* Ajusta a largura para considerar o padding */
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #8c00ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.login-container button:hover {
    background-color: #4500b4;
}

.register-container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.register-container button {
    width: 47%;
    background-color: #8c00ff;
}

.register-container button:hover {
    background-color: #4500b4;
}
