<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>CandidateController</servlet-name>
        <servlet-class>org.example.Controllers.CandidateController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CandidateController</servlet-name>
        <url-pattern>/candidates</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CompanyController</servlet-name>
        <servlet-class>org.example.Controllers.CompanyController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompanyController</servlet-name>
        <url-pattern>/company</url-pattern>
    </servlet-mapping>

</web-app>
